<a href="https://colab.research.google.com/github/ravichas/bifx-546/blob/main/Notebooks/Chapter02_Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Chapter 2: Python 101

ðŸŽ“ Course Context

Prepared for BIFX-546 â€“ Machine Learning for Bioinformatics

Instructor: Sarangan Ravichandran, PhD., PMP

# ðŸ“˜ Attribution & Reading Reference

This notebook is based on concepts, structure and examples from,

Data Science from Scratch, 2nd Edition by Joel Grus,published by O'Reilly Media,Inc.

# Relevant Reading:

Data Science from Scratch, 2nd Edition â€” Chapter 2: [A Crash Course in Python]

The material in this notebook has been **expanded with additional explanations,new examples, and code adaptations** to support instructional use and execution in a Google Colab Envinronment. Any additions, reformatting, or implementation detailss beyond the original text are the responsibility of the notebook author.

This notebook is intended for educational use only and does not replace the original book/code examples.

In [ ]:
# ==== Course setup: safe clone + cd + import path ====
import os
import sys

REPO_URL = "https://github.com/joelgrus/data-science-from-scratch.git"
REPO_DIR = "data-science-from-scratch"

# 1. If we're *anywhere inside* the repo, move to the parent directory first
cwd = os.getcwd()
if REPO_DIR in cwd.split(os.sep):
    parts = cwd.split(os.sep)
    # Walk up until we are at .../data-science-from-scratch
    while parts and parts[-1] != REPO_DIR:
        parts.pop()
    # Now go to the directory *above* the repo
    parent_dir = os.sep.join(parts[:-1]) or "/"
    os.chdir(parent_dir)
    print(f"Moved to parent directory: {os.getcwd()}")

# 2. Clone only if needed
if not os.path.exists(REPO_DIR):
    print("Cloning repo...")
    !git clone {REPO_URL}
else:
    print(f"{REPO_DIR} already exists â€” skipping clone.")

# 3. cd into the repo (this is where you'll live most of the time)
%cd {REPO_DIR}

# 4. Ensure the repo is importable (for scratch.linear_algebra, etc.)
if os.getcwd() not in sys.path:
    sys.path.append(os.getcwd())
    print("Added repo to sys.path")

Moved to parent directory: /content
data-science-from-scratch already exists â€” skipping clone.
/content/data-science-from-scratch

# Relevant Links

* [R or Python:](https://bioinformatics.ccr.cancer.gov/btep/r-or-python-which-should-i-learn/) Which should I learn?
* [R vs Python](https://www.linkedin.com/posts/%F0%9F%8E%AF-ming-tommy-tang-40650014_1-r-vs-python-for-bioinformatics-which-activity-7343265401117548545-xY95/)
* [PIOBE](https://www.tiobe.com/tiobe-index/)
* Biotechnology jobs (following was taken from biotechnologyjobs.co.uk; published early 2025)
  - Bioinformatics / Genomics: **Typically Python or R** for data analysis, with C/C++ for HPC tools.
  - Lab Automation: **Mix of Python or sometimes Java/C#** if controlling hardware or enterprise-level automation systems.
  - Drug Discovery / Cheminformatics: **Python or R** for screening libraries, plus HPC frameworks in C/C++ for molecular docking.
  - Clinical Data Systems: P**ossibly Java or .NET** for enterprise-scale solutions, plus SQL for database integration.
  - Research & Prototyping: **MATLAB, R, or Python **for advanced algorithms and visualisation.

# Other notable products/projects
* Google DeepMind uses Python
* LL

In [ ]:
!ls

comma_delimited_stock_prices.csv  INSTALL.md  README.md		stocks.csv
first-edition			  LICENSE     requirements.txt
im				  links.md    scratch

In [ ]:
%cd data-science-from-scratch

[Errno 2] No such file or directory: 'data-science-from-scratch'
/content/data-science-from-scratch

In [ ]:
!ls

comma_delimited_stock_prices.csv  INSTALL.md  README.md		stocks.csv
first-edition			  LICENSE     requirements.txt
im				  links.md    scratch

In [5]:
import re
# search for #s in your text
my_regex = re.compile("[0-9]+", re.I)

In [6]:
my_regex

re.compile(r'[0-9]+', re.IGNORECASE|re.UNICODE)

In [7]:
text = "ID 456 is valid"
match = my_regex.search(text)

if match:
    print(match.group())  # '456'

456

In [ ]:
#sets
primes_below_10 = {2, 3, 5, 7}
primes_below_10

{2, 3, 5, 7}

In [ ]:
primes_below_9 = {2, 3, 5, 3, 7, 8}
primes_below_9

{2, 3, 5, 7, 8}

In [ ]:
primes_below_9.pop()

2

In [ ]:
primes_below_9

{3, 5, 7, 8}

# Dictionary

In [ ]:
from collections import defaultdict

dd_list = defaultdict(int)
dd_list

defaultdict(int, {})

In [ ]:
dd_list[0]

0

In [ ]:
dd_list

defaultdict(int, {0: 0})

The following defaultdict is useful when we create some key that doesnt exist, we dont have to check.

In [ ]:
dd_list = defaultdict(list)
dd_list[2].append(1)

dd_dict=defaultdict(dict)
print(dd_dict)
dd_dict["Joel"]["City"] = "Seattle"
dd_dict["sam"] = "MD"

dd_dict

defaultdict(<class 'dict'>, {})

defaultdict(dict, {'Joel': {'City': 'Seattle'}, 'sam': 'MD'})

# Counters

`counter` turns a sequence of values into a defaultdict(int) like object mapping meys to values

In [ ]:
from collections import Counter

my_list = [0, 1, 2, 3, 4, 1, 0, 3, 10, 10, 3, 4, 6, 7, 8, 9, 8, 8, 7, 7, 7]
c = Counter(my_list)

print(c.most_common(3))

[(7, 4), (3, 3), (8, 3)]

In [ ]:
for word, word_counts in c.most_common(3):
  print(word, word_counts)

7 4
3 3
8 3

# Set

In [ ]:
s = set()
print(s)

s.add(1) # s is now {1}
s.add(2) # sis now {1, 2}
s.add(2) # s is still {1, 2}
s.add(19)

print(s)

set()
{1, 2, 19}

In [ ]:
x = len(s)
print(s)

print(2 in s) # print True
29 in s # False

{1, 2, 19}
True

False

# using set is a fast operation

In [ ]:
stopwords_list = ["a","an","at"] + ["yet", "you"]

In [ ]:
"zip" in stopwords_list # slow operation as the s_list grows

False

In [ ]:
stopwords_set = set(stopwords_list)
"zip" in stopwords_set

False

# Python uses None to indicate non-existent value. Other languages use "null"

In [ ]:
x = None

assert x == None, "This is not the pythonic way"

In [ ]:
assert x is None, "This is pythonic way"

In [ ]:
# type: ignore

# The pound sign marks the start of a comment. Python itself
# ignores the comments, but they're helpful for anyone reading the code.

for i in [1, 2, 3, 4, 5]:
    print(i)                    # first line in "for i" block
    for j in [1, 2, 3, 4, 5]:
        print(j)                # first line in "for j" block
        print(i + j)            # last line in "for j" block
    print(i)                    # last line in "for i" block
print("done looping")

1
1
2
2
3
3
4
4
5
5
6
1
2
1
3
2
4
3
5
4
6
5
7
2
3
1
4
2
5
3
6
4
7
5
8
3
4
1
5
2
6
3
7
4
8
5
9
4
5
1
6
2
7
3
8
4
9
5
10
5
done looping

In [1]:
# formatting

long_winded_computation = (1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 +
                           13 + 14 + 15 + 16 + 17 + 18 + 19 + 20)

list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

easier_to_read_list_of_lists = [[1, 2, 3],
                                [4, 5, 6],
                                [7, 8, 9]]

two_plus_three = 2 + \
                 3

for i in [1, 2, 3, 4, 5]:

    # notice the blank line
    print(i)

1
2
3
4
5

In [ ]:
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

match = 10
from re import *    # uh oh, re has a match function
print(match)        # "<function match at 0x10281e6a8>"

<function match at 0x7b219672c0e0>

In [ ]:
def double(x):
    """
    This is where you put an optional docstring that explains what the
    function does. For example, this function multiplies its input by 2.
    """
    return x * 2

def apply_to_one(f):
    """Calls the function f with 1 as its argument"""
    return f(1)

my_double = double             # refers to the previously defined function
x = apply_to_one(my_double)    # equals 2


assert x == 2

In [ ]:
y = apply_to_one(lambda x: x + 4)      # equals 5


assert y == 5

In [ ]:
another_double = lambda x: 2 * x       # Don't do this

In [ ]:
def another_double(x):
    """Do this instead"""
    return 2 * x

def my_print(message = "my default message"):
    print(message)

my_print("hello")   # prints 'hello'
my_print()          # prints 'my default message'

hello
my default message

In [ ]:
def full_name(first = "What's-his-name", last = "Something"):
    return first + " " + last

full_name("Joel", "Grus")     # "Joel Grus"
full_name("Joel")             # "Joel Something"
full_name(last="Grus")        # "What's-his-name Grus"


assert full_name("Joel", "Grus")     == "Joel Grus"
assert full_name("Joel")             == "Joel Something"
assert full_name(last="Grus")        == "What's-his-name Grus"

# Two options for strings & Special Characters

In [ ]:
single_quoted_string = 'data science'
double_quoted_string = "data science"

tab_string = "\t"       # represents the tab character
len(tab_string)         # is 1


assert len(tab_string) == 1

# Retain backslashes (ex. Windows directory names)

In [ ]:
not_tab_string = r"\t"  # represents the characters '\' and 't'
len(not_tab_string)     # is 2


assert len(not_tab_string) == 2

# Multi-line comment

In [ ]:
# multiline comments
multi_line_string = """This is the first line.
and this is the second line
and this is the third line"""

# Py 3.6: f-string option

In [ ]:
first_name = "Joel"
last_name = "Grus"

full_name1 = first_name + " " + last_name             # string addition
full_name2 = "{0} {1}".format(first_name, last_name)  # string.format

full_name3 = f"{first_name} {last_name}"

## Exception

In [ ]:
try:
    print(0 / 0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

# Lists

In [ ]:

integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [integer_list, heterogeneous_list, []]

list_length = len(integer_list)     # equals 3
list_sum    = sum(integer_list)     # equals 6


assert list_length == 3
assert list_sum == 6

In [ ]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

zero = x[0]          # equals 0, lists are 0-indexed
one = x[1]           # equals 1
nine = x[-1]         # equals 9, 'Pythonic' for last element
eight = x[-2]        # equals 8, 'Pythonic' for next-to-last element
x[0] = -1            # now x is [-1, 1, 2, 3, ..., 9]


assert x == [-1, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
first_three = x[:3]                 # [-1, 1, 2]
three_to_end = x[3:]                # [3, 4, ..., 9]
one_to_four = x[1:5]                # [1, 2, 3, 4]
last_three = x[-3:]                 # [7, 8, 9]
without_first_and_last = x[1:-1]    # [1, 2, ..., 8]
copy_of_x = x[:]                    # [-1, 1, 2, ..., 9]

every_third = x[::3]                 # [-1, 3, 6, 9]
five_to_three = x[5:2:-1]            # [5, 4, 3]


assert every_third == [-1, 3, 6, 9]
assert five_to_three == [5, 4, 3]

1 in [1, 2, 3]    # True

True

In [ ]:
0 in [1, 2, 3]    # False

False

# Modify list in place

In [ ]:
x = [1, 2, 3]
x.extend([4, 5, 6])     # x is now [1, 2, 3, 4, 5, 6]


assert x == [1, 2, 3, 4, 5, 6]

In [ ]:
x = [1, 2, 3]
y = x + [4, 5, 6]       # y is [1, 2, 3, 4, 5, 6]; x is unchanged


assert x == [1, 2, 3]
assert y == [1, 2, 3, 4, 5, 6]

In [ ]:
x = [1, 2, 3]
x.append(0)      # x is now [1, 2, 3, 0]
y = x[-1]        # equals 0
z = len(x)       # equals 4


assert x == [1, 2, 3, 0]
assert y == 0
assert z == 4

# Unpacking Elements

In [ ]:

x, y = [1, 2]    # now x is 1, y is 2


assert x == 1
assert y == 2

In [ ]:
# dont care about the first element

_, y = [1, 2]    # now y == 2, didn't care about the first element

In [ ]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3      # my_list is now [1, 3]

In [ ]:
try:
    my_tuple[1] = 3
except TypeError:
    print("cannot modify a tuple")

cannot modify a tuple

In [ ]:
def sum_and_product(x, y):
    return (x + y), (x * y)

sp = sum_and_product(2, 3)     # sp is (5, 6)
s, p = sum_and_product(5, 10)  # s is 15, p is 50

x, y = 1, 2     # now x is 1, y is 2
x, y = y, x     # Pythonic way to swap variables; now x is 2, y is 1

assert x == 2
assert y == 1

# Dictionaries

In [ ]:
empty_dict = {}                     # Pythonic
empty_dict2 = dict()                # less Pythonic
grades = {"Joel": 80, "Tim": 95}    # dictionary literal

joels_grade = grades["Joel"]        # equals 80


assert joels_grade == 80

In [ ]:
try:
    kates_grade = grades["Kate"]
except KeyError:
    print("no grade for Kate!")

joel_has_grade = "Joel" in grades     # True
kate_has_grade = "Kate" in grades     # False


assert joel_has_grade
assert not kate_has_grade

no grade for Kate!

In [ ]:
joels_grade = grades.get("Joel", 0)   # equals 80
kates_grade = grades.get("Kate", 0)   # equals 0
no_ones_grade = grades.get("No One")  # default default is None


assert joels_grade == 80
assert kates_grade == 0
assert no_ones_grade is None

In [ ]:
grades["Tim"] = 99                    # replaces the old value
grades["Kate"] = 100                  # adds a third entry
num_students = len(grades)            # equals 3


assert num_students == 3

In [ ]:
tweet = {
    "user" : "joelgrus",
    "text" : "Data Science is Awesome",
    "retweet_count" : 100,
    "hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

tweet_keys   = tweet.keys()     # iterable for the keys
tweet_values = tweet.values()   # iterable for the values
tweet_items  = tweet.items()    # iterable for the (key, value) tuples

"user" in tweet_keys            # True, but not Pythonic
"user" in tweet                 # Pythonic way of checking for keys
"joelgrus" in tweet_values      # True (slow but the only way to check)


assert "user" in tweet_keys
assert "user" in tweet
assert "joelgrus" in tweet_values

In [ ]:
document = ["data", "science", "from", "scratch"]

word_counts = {}
for word in document:
    if word in word_counts:
        word_counts[word] += 1
    else:
        word_counts[word] = 1

word_counts = {}
for word in document:
    try:
        word_counts[word] += 1
    except KeyError:
        word_counts[word] = 1

word_counts = {}
for word in document:
    previous_count = word_counts.get(word, 0)
    word_counts[word] = previous_count + 1

# Default Dictionary

A default Dictionary is like a regular dictionary, except that when you try to look up a key it doesnt contain, it first adds a value for it using a zero-argument function you provided when you created it. Note that you need to `import defaultdict` to use it

```
d = defaultdict(factory_function)
factory_functions: `int`, `float`, `list`, `set`, `dict`

```

In [ ]:
from collections import defaultdict

d = defaultdict(int) # int() -> 0, so default value is 0
print(d["a"]) # key "a" doesnt exist yet, so it returns 0
d["a"] += 5
print(d["a"]) # now "a" is 5

0
5

In [ ]:
document = ["data", "science", "from", "scratch"]

word_counts = defaultdict(int)          # int() produces 0
for word in document:
    word_counts[word] += 1

print(word_counts)

defaultdict(<class 'int'>, {'data': 1, 'science': 1, 'from': 1, 'scratch': 1})

# Why defaultdict?

defaultdict(list) means: a dictionary where every new (missing) key automatically starts with an empty list [].

So you can append to keys without checking if the key already exists.

Normal dict (fails if key missing)

```
d = {}
d[0].append(1)   # KeyError, because d[0] doesn't exist yet
```

But the following code will work

```
from collections import defaultdict

d = defaultdict(list)
d[0].append(1)   # d[0] was automatically created as []
d[0].append(2)

print(d[0])      # [1, 2]
```

Why is it useful for us?

No need to pre-create friendships = {0: [], 1: [], ...} â€” it builds itself as you go.

In [ ]:
dd_list = defaultdict(list)             # list() produces an empty list
print(dd_list)
dd_list[2].append(1)                    # now dd_list contains {2: [1]}
print(dd_list)

defaultdict(<class 'list'>, {})
defaultdict(<class 'list'>, {2: [1]})

In [ ]:
dd_dict = defaultdict(dict)             # dict() produces an empty dict
dd_dict["Joel"]["City"] = "Seattle"     # {"Joel" : {"City": Seattle"}}
print(dd_dict)

dd_pair = defaultdict(lambda: [0, 0])
dd_pair[2][1] = 1                       # now dd_pair contains {2: [0, 1]}
print(dd_pair)

defaultdict(<class 'dict'>, {'Joel': {'City': 'Seattle'}})
defaultdict(<function <lambda> at 0x7b21850cc0e0>, {2: [0, 1]})

# Counter

`Counter`: Maps a seq of values into a `defaltdict(int)` like object keys to counts

In [ ]:
from collections import Counter
c = Counter([0, 1, 2, 0])          # c is (basically) {0: 2, 1: 1, 2: 1}

# recall, document is a list of words
word_counts = Counter(document)

# print the 10 most common words and their counts
for word, count in word_counts.most_common(10):
    print(word, count)

primes_below_10 = {2, 3, 5, 7}

data 1
science 1
from 1
scratch 1

# Sets

Useful data structure, which represents a collection *distinct* elements. Define it by using `{}`

In [ ]:
s = set()
s.add(1)       # s is now {1}
s.add(2)       # s is now {1, 2}
s.add(2)       # s is still {1, 2}
x = len(s)     # equals 2
y = 2 in s     # equals True
z = 3 in s     # equals False


hundreds_of_other_words = []  # required for the below code to run

stopwords_list = ["a", "an", "at"] + hundreds_of_other_words + ["yet", "you"]

"zip" in stopwords_list     # False, but have to check every element

stopwords_set = set(stopwords_list)
"zip" in stopwords_set      # very fast to check

item_list = [1, 2, 3, 1, 2, 3]
num_items = len(item_list)                # 6
item_set = set(item_list)                 # {1, 2, 3}
num_distinct_items = len(item_set)        # 3
print(item_set)
print("list is:", list, "type:", type(list) )
distinct_item_list = list(item_set)       # [1, 2, 3]


assert num_items == 6
assert item_set == {1, 2, 3}
assert num_distinct_items == 3
assert distinct_item_list == [1, 2, 3]

{1, 2, 3}
list is: <class 'list'> type: <class 'type'>

# Control Flow

In [ ]:
if 1 > 2:
  message = "if only 1 were greather than two ..."
elif 1 > 3:
  message = "elif stands for 'else if' "
else:
  message = "when all else fails use else (if you want to )"

In [ ]:
# one lin equivalent
x  = 2
parity = "even" if x % 2 == 0 else "odd"

print(parity)

even

In [ ]:
x = 0
while x < 10:
    print(f"{x} is less than 10")
    x += 1

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [ ]:
# range(10) is the numbers 0, 1, ..., 9
for x in range(10):
    print(f"{x} is less than 10")

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [ ]:
for x in range(10):
    if x == 3:
        continue  # go immediately to the next iteration
    if x == 5:
        break     # quit the loop entirely
    print(x)

0
1
2
4

# Truthiness


In  Python, **every value** has a truth when used in a boolean context (like `if`, `while`, `and`, `or', `not`).

We say, "**truthy**" and "**falsey**" for values that behave liek `True` or `False`, even though they are not literaly `True` or `False`

In [ ]:
one_is_less_than_two = 1 < 2          # equals True
true_equals_false = True == False     # equals False


assert one_is_less_than_two
assert not true_equals_false

# Nonexistent Value == None

Similar to `null` in other languages

In [ ]:
x = None
assert x == None, "this is the not the Pythonic way to check for None"
assert x is None, "this is the Pythonic way to check for None"

```
Where can you use it? The folowing all will return `False`

* False
* None
* [] (empty list)
* {} (empty `dict`)
* ""
* set()
* 0
* 0.0

```

# Then whatelse is `True`

# `and` operator in Python

In Python `and` is  an operator that reutrns one of its operands, not just `True` or `False`.

# How `and` works
```
A and B
```

Python works this way:
* Evaluate `A`
* if `A` is *falsey* (`""`, `0`, `None`, `[]`, etc), return **A** immediately (dont evaluate **B**)
* if `A` is truthy, evaluate and return **B*

```
"" and "x"  # "" (left if falsey, so return left)
"hello" and "x". # "x"(left is truthy, so return right)
0 and 5 # 0
3 and 5 # 5
None and "x" # None
"yes" and "no" # "no"
```

In [ ]:
def some_function_that_returns_a_string():
    return ""

s = some_function_that_returns_a_string()

if s:
  print('True')
  first_char = s[0]
else:
  print('Empty string, False')
  first_char = ""

print("first_char Before: ", first_char, "**")

first_char = s and s[0] # return s (i.e., ""; s[0] is never evaluated)

print("first_char After: ", first_char, "**")

safe_x = x or 0
print('safe_x', safe_x)

safe_x = x if x is not None else 0

Empty string, False
first_char Before:   **
first_char After:   **
safe_x 0

In [ ]:
"" or 3

3

In [ ]:
3 or ""

3

In [ ]:
"" and 3

''

In [ ]:
all([True, 1, {3}])   # True, all are truthy
all([True, 1, {}])    # False, {} is falsy

any([True, 1, {}])    # True, True is truthy

all([])               # True, no falsy elements in the list
any([])               # False, no truthy elements in the list

False

# Sorting

sort vs sorted

In [ ]:
x = [4, 1, 2, 3]
y = sorted(x)     # y is [1, 2, 3, 4], x is unchanged
x.sort()          # now x is [1, 2, 3, 4]

In [ ]:
# sort the list by absolute value from largest to smallest
x = sorted([-4, 1, -2, 3], key=abs, reverse=True)  # is [-4, 3, -2, 1]

# sort the words and counts from highest count to lowest
wc = sorted(word_counts.items(),
            key=lambda word_and_count: word_and_count[1],
            reverse=True)
wc

[('data', 1), ('science', 1), ('from', 1), ('scratch', 1)]

## List Comprehensions

In [ ]:
even_numbers = [x for x in range(5) if x % 2 == 0]  # [0, 2, 4]
squares      = [x * x for x in range(5)]            # [0, 1, 4, 9, 16]
even_squares = [x * x for x in even_numbers]        # [0, 4, 16]


assert even_numbers == [0, 2, 4]
assert squares == [0, 1, 4, 9, 16]
assert even_squares == [0, 4, 16]

# Dict comprehensions

In [ ]:
square_dict = {x: x * x for x in range(5)}  # {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
square_set  = {x * x for x in [1, -1]}      # {1}


assert square_dict == {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
assert square_set == {1}

# Automated Testing and Assert

Use `assert` to check for code and raise `AssertionError` if your specified condition is not `Truthy`

In [ ]:
zeros = [0 for _ in even_numbers]      # has the same length as even_numbers


assert zeros == [0, 0, 0]

In [ ]:
pairs = [(x, y)
         for x in range(10)
         for y in range(10)]   # 100 pairs (0,0) (0,1) ... (9,8), (9,9)


assert len(pairs) == 100

In [ ]:
increasing_pairs = [(x, y)                       # only pairs with x < y,
                    for x in range(10)           # range(lo, hi) equals
                    for y in range(x + 1, 10)]   # [lo, lo + 1, ..., hi - 1]


assert len(increasing_pairs) == 9 + 8 + 7 + 6 + 5 + 4 + 3 + 2 + 1
assert all(x < y for x, y in increasing_pairs)

In [ ]:
assert 1 + 1 == 2
assert 1 + 1 == 2, "1 + 1 should equal 2 but didn't"

# Assert for functions

In [ ]:
def smallest_item(xs):
    return min(xs)

assert smallest_item([10, 20, 5, 40]) == 5
assert smallest_item([1, 0, -1, 2]) == -1

## Object Oriented Programming

* Class contains zero or more member functions
* By convention each takes a first parameter `self` that refers to a particular instance
* Each class normally has a constructor `__init__` (method is often called "dunder" methods (double-UNDERscore), it takes whatever parameters you need to construct an instance of your class and does what ever setup you need:

```
def __init__(self, count=0):
    self.count = count
```

In [ ]:
def smallest_item(xs):
    assert xs, "empty list has no smallest item"
    return min(xs)

class CountingClicker:
    """A class can/should have a docstring, just like a function"""

    def __init__(self, count = 0):
        self.count = count

    def __repr__(self):
        return f"CountingClicker(count={self.count})"

    def click(self, num_times = 1):
        """Click the clicker some number of times."""
        self.count += num_times

    def read(self):
        return self.count

    def reset(self):
        self.count = 0

In [ ]:
clicker = CountingClicker()
assert clicker.read() == 0, "clicker should start with count 0"
clicker.click()
print(clicker.count)
clicker.click()
print(clicker.count)
assert clicker.read() == 2, "after two clicks, clicker should have count 2"
clicker.reset()
assert clicker.read() == 0, "after reset, clicker should be back to 0"

1
2

# Subclass that Inherits from the Main Class

In [ ]:
# A subclass inherits all the behavior of its parent class.
class NoResetClicker(CountingClicker):
    # This class has all the same methods as CountingClicker

    # Except that it has a reset method that does nothing.
    def reset(self):
        pass

In [ ]:
clicker2 = NoResetClicker()
assert clicker2.read() == 0
clicker2.click()
assert clicker2.read() == 1
clicker2.reset()
assert clicker2.read() == 1, "reset shouldn't do anything"

In [ ]:
clicker1 = CountingClicker() # Initialized to 0
clicker2 = CountingClicker(100) # starts with count = 100
clicker3 = CountingClicker(count=100) # more explicit way of counting 100

# Iterables and Generators

A generator is a  specalized kind of generator that produces values one at a time, only when needed, instead of creating all in the memory

A generator function is any function that contains the keyword `yield`

In [ ]:
def generate_range(n):
    i = 0
    while i < n:
        yield i   # every call to yield produces a value of the generator
        i += 1

for i in generate_range(10):
    print(f"i: {i}")

i: 0
i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9

Let us run this with some more information

List: High peak memory (it stores all `n` elements)
Generator: Much lower peak memory (only holds one item ata time plus overhead)

In [ ]:
import time
import tracemalloc

n = 10000000
print("===List===")
start = time.time()
lst = list(range(n))
end = time.time()
print("List creation time:", end-start, "seconds")

===List===
List creation time: 0.44997549057006836 seconds

In [ ]:
start = time.time()

for _ in generate_range(n):
  pass

end = time.time()
print("Generator creation time:", end-start, "seconds")

Generator creation time: 0.8932967185974121 seconds

In [ ]:
print("====List===")
tracemalloc.start()
lst = list(range(n))
current, peak = tracemalloc.get_traced_memory()
print(f"Current:{current/1_000_000:.2f}MB; Pak: {peak/1_000_000:.2f}MB")
tracemalloc.stop()

====List===
Current:399.99MB; Pak: 400.01MB

In [ ]:
print("====Generator===")
tracemalloc.start()
gen = generate_range(n)
for x in gen:
  pass
current, peak = tracemalloc.get_traced_memory()
print(f"Current:{current/1_000_000:.2f}MB; Pak: {peak/1_000_000:.2f}MB")
tracemalloc.stop()

====Generator===
Current:0.00MB; Pak: 0.02MB

In [ ]:
# another way to create generators is by using `for` comprehensions wrapped in parenthesis

evens_below_20 = (i for i in generate_range(20) if i % 2 == 0)

#`yield` use:

* when the data is larger (or infinite)
* when you only need a few items from a big sequence
* when you need composable, reusable iterators

# Other genreators

* Generator functions (use `yield`)
* Generator expressions (use list comprehensions)
```
gen = (x * x for x in range(5)) # generator expression
```
* std built-in generators
```
range(50) # range object(lazy, iterable)
map(f, iterable) # returns a lazy iterator
filter(pred, seq) # lazy
zip(a,b) # lazy
enumerate(seq) # lazy
```

In Python lazy means: the values are computed only when they are needed, not in advance

In [ ]:
def natural_numbers():
  """ return 1, 2, 3, .... """
  n = 1
  while True:
    yield n
    n += 1

In [ ]:
# None of these computations *does* anything until we iterate
data = natural_numbers()
evens = (x for x in data if x % 2 == 0)
even_squares = (x ** 2 for x in evens)
even_squares_ending_in_six = (x for x in even_squares if x % 10 == 6)
# and so on


assert next(even_squares_ending_in_six) == 16
assert next(even_squares_ending_in_six) == 36
assert next(even_squares_ending_in_six) == 196

# A better example  
### Let us put generators that we created above to action

In [ ]:
for x in even_squares_ending_in_six:
  print(x)
  if x > 1000:
    break

256
576
676
1156

Step by step:
* for loop asks `even_squares_ending_in_six` for the next value
* that generator asks `even_squares` for the next value
* `even_squares` asks `evens` for the next value
* `evens` asks `data` (natural numbers for the next number
* Each step does the needed computaiton for **one** value, then returns it.

# Use `enumerate` instead of `for` or `range(len(list))`

In [ ]:
names = ["Alice", "Bob", "Charlie", "Debbie"]

# not Pythonic
for i in range(len(names)):
    print(f"name {i} is {names[i]}")
print()

# also not Pythonic
i = 0
for name in names:
    print(f"name {i} is {names[i]}")
    i += 1
print()

# Pythonic
for i, name in enumerate(names):
    print(f"name {i} is {name}")

name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie

name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie

name 0 is Alice
name 1 is Bob
name 2 is Charlie
name 3 is Debbie

# Randomness

In [ ]:
import random
random.seed(10)  # this ensures we get the same results every time

four_uniform_randoms = [random.random() for _ in range(4)]

# [0.5714025946899135,       # random.random() produces numbers
#  0.4288890546751146,       # uniformly between 0 and 1
#  0.5780913011344704,       # it's the random function we'll use
#  0.20609823213950174]      # most often

random.seed(10)         # set the seed to 10
print(random.random())  # 0.57140259469
random.seed(10)         # reset the seed to 10
print(random.random())  # 0.57140259469 again

random.randrange(10)    # choose randomly from range(10) = [0, 1, ..., 9]
random.randrange(3, 6)  # choose randomly from range(3, 6) = [3, 4, 5]

0.5714025946899135
0.5714025946899135

4

In [ ]:
up_to_ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(up_to_ten)
print(up_to_ten)
# [7, 2, 6, 8, 9, 4, 10, 1, 3, 5]   (your results will probably be different)

my_best_friend = random.choice(["Alice", "Bob", "Charlie"])     # "Bob" for me

lottery_numbers = range(60)
winning_numbers = random.sample(lottery_numbers, 6)  # [16, 36, 10, 6, 25, 9]

four_with_replacement = [random.choice(range(10)) for _ in range(4)]
print(four_with_replacement)  # [9, 4, 4, 2]

[5, 6, 9, 2, 3, 7, 8, 4, 1, 10]
[2, 9, 5, 6]

# Regular Expressions

* Effecient way of searching text
* Useful but complicated syntax

Note
* `re.matxh` checks the beginning of a string matches a regular expression
* `re.search` checks whether any part of  a string matches a reg expression

In [ ]:
import re

re_examples = [                        # all of these are true, because
    not re.match("a", "cat"),              #  'cat' doesn't start with 'a'
    re.search("a", "cat"),                 #  'cat' has an 'a' in it
    not re.search("c", "dog"),             #  'dog' doesn't have a 'c' in it
    3 == len(re.split("[ab]", "carbs")),   #  split on a or b to ['c','r','s']
    "R-D-" == re.sub("[0-9]", "-", "R2D2") #  replace digits with dashes
    ]

assert all(re_examples), "all the regex examples should be True"

## Functional Programming

In [ ]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

# zip is lazy, so you have to do something like the following
[pair for pair in zip(list1, list2)]    # is [('a', 1), ('b', 2), ('c', 3)]


assert [pair for pair in zip(list1, list2)] == [('a', 1), ('b', 2), ('c', 3)]

# Use unzip a list using *

In [ ]:
pairs = [('a', 1), ('b', 2), ('c', 3)]
print(pairs)
letters, numbers = zip(*pairs)

print(letters)
numbers

[('a', 1), ('b', 2), ('c', 3)]
('a', 'b', 'c')

(1, 2, 3)

In [ ]:
letters, numbers = zip(('a', 1), ('b', 2), ('c', 3))
print(letters)
numbers

('a', 'b', 'c')

(1, 2, 3)

# Argument Unpacking trick

In [ ]:
def add(a, b): return a + b

add(1, 2)      # returns 3
try:
    add([1, 2])
except TypeError:
    print("add expects two inputs")
add(*[1, 2])   # returns 3

add expects two inputs

3

# `arg` and `kwargs`

How to create higher-order functions that takes some function as inputs and returns a new function

In [ ]:
def doubler(f):
    # Here we define a new function that keeps a reference to f
    def g(x):
        return 2 * f(x)

    # And return that new function.
    return g

def f1(x):
    return x + 1

g = doubler(f1)

assert g(3) == 8,  "(3 + 1) * 2 should equal 8"
assert g(-1) == 0, "(-1 + 1) * 2 should equal 0"

In [ ]:
# rewrote becos the function name and variable name, g confusing

def doubler(f):
    def doubled_function(x):
        return 2 * f(x)
    return doubled_function

def f1(x):
    return x + 1

g = doubler(f1)   # g now refers to doubled_function

assert g(3) == 8,  "(3 + 1) * 2 should equal 8"
assert g(-1) == 0, "(-1 + 1) * 2 should equal 0"

In [ ]:
def f2(x, y):
    return x + y

g = doubler(f2)

In [ ]:
try:
    g(1, 2)
except TypeError:
    print("as defined, g only takes one argument")

as defined, g only takes one argument

# the above example takes only one arg

How to expand this to multiple arguments

In [ ]:
def magic(*args, **kwargs):
    print("unnamed args:", args)
    print("keyword args:", kwargs)

magic(1, 2, key="word", key2="word2")

# prints
#  unnamed args: (1, 2)
#  keyword args: {'key': 'word', 'key2': 'word2'}

unnamed args: (1, 2)
keyword args: {'key': 'word', 'key2': 'word2'}

In [ ]:
def other_way_magic(x, y, z):
    return x + y + z

x_y_list = [1, 2]
z_dict = {"z": 3}
assert other_way_magic(*x_y_list, **z_dict) == 6, "1 + 2 + 3 should be 6"

def doubler_correct(f):
    """works no matter what kind of inputs f expects"""
    def g(*args, **kwargs):
        """whatever arguments g is supplied, pass them through to f"""
        return 2 * f(*args, **kwargs)
    return g

g = doubler_correct(f2)
assert g(1, 2) == 6, "doubler should work now"

# Type Annotations

Python is a dynamically typed language. It doesnt care about the type of objects we use, as long as we use them in valid ways.

In [ ]:
def add(a, b):
    return a + b

assert add(10, 5) == 15,                  "+ is valid for numbers"
assert add([1, 2], [3]) == [1, 2, 3],     "+ is valid for lists"
assert add("hi ", "there") == "hi there", "+ is valid for strings"

try:
    add(10, "five")
except TypeError:
    print("cannot add an int to a string")

cannot add an int to a string

In a statically typed language our functions and objects have to be specified this way. Modern Python allow this.

In [ ]:
def add(a: int, b: int) -> int:
    return a + b

add(10, 5)           # you'd like this to be OK
add("hi ", "there")  # you'd like this to be not OK

'hi there'

In [ ]:
# This is not in the book, but it's needed
# to make the `dot_product` stubs not error out.
from typing import List
Vector = List[float]

def dot_product(x, y): ...

# we have not yet defined Vector, but imagine we had
def dot_product(x: Vector, y: Vector) -> float: ...

from typing import Union

def secretly_ugly_function(value, operation): ...

def ugly_function(value: int, operation: Union[str, int, float, bool]) -> int:
    ...

# Learn Typing

```
def total(xs: list) -> float:
    return sum(xs)

The above example is not specific enough for `xs` to be a list of floats not a list of strings.

#---Use Typing module to take adv. of types
#----
from typing import List  # note capital L

def total(xs: List[float]) -> float:
    return sum(xs)

# This is how to type-annotate variables when you define them.
# But this is unnecessary; it's "obvious" x is an int.
x: int = 5

# sometimes it is not obvious

values = []         # what's my type?
best_so_far = None  # what's my type?

#
from typing import Optional
values: List[int] = []
best_so_far: Optional[float] = None  # allowed to be either a float or None
```

In [ ]:
lazy = True

# the type annotations in this snippet are all unnecessary
from typing import Dict, Iterable, Tuple

# keys are strings, values are ints
counts: Dict[str, int] = {'data': 1, 'science': 2}

# lists and generators are both iterable
if lazy:
    evens: Iterable[int] = (x for x in range(10) if x % 2 == 0)
else:
    evens = [0, 2, 4, 6, 8]

# tuples specify a type for each element
triple: Tuple[int, float, int] = (10, 2.3, 5)

### Since Python has first-class functions, we need to type to represent those as well. Here is an example,

In [ ]:
from typing import Callable

# The type hint says that repeater is a function that takes
# two arguments, a string and an int, and returns a string.
def twice(repeater: Callable[[str, int], str], s: str) -> str:
    return repeater(s, 2)

def comma_repeater(s: str, n: int) -> str:
    n_copies = [s for _ in range(n)]
    return ', '.join(n_copies)

assert twice(comma_repeater, "type hints") == "type hints, type hints"

# Type annotatons are just Python objects.

We can assign them to variables to make them easier to refer to

In [ ]:

Number = int
Numbers = List[Number]

def total(xs: Numbers) -> Number:
    return sum(xs)